<div class="toolbar">


  <div *ngIf="small">
    <!--    <div class="visible-icon">-->
    <button mat-icon-button (click)="onToggleSidenav()" class="example-icon"
            aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span class="mat-headline-4" style="margin-bottom: 0">Portfolio</span>

  <div class="spacer"></div>

  <div *ngIf="!small" class="nav">
    <!--    <div class="nav">-->
    <a href="" class="mat-h4 "> About Me</a>
    <a href="" class="mat-h4"> Contacts</a>
    <a routerLink="/project" class="mat-h4"> Projects</a>
  </div>

</div>


